*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(245, 243, 243);
    font-family: sans-serif;
    cursor: pointer;

}
h2{
    text-align: center;
}

.menu i {
    margin-left: 10px;
    margin-top: 10px;
}
#leftMenu{
    height: 100vh;
    position: fixed;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background: black;
    overflow-x: hidden;
    transition: .5s;
}
#leftNav{
    margin-top: 70px;
}
#leftNav a{
    margin-bottom: 15px;
}
#leftMenu a{
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: .4s;
}

/**Navhover**/
#leftMenu a:hover{
    background: #f6ba09;
    color: orangered;

}